<ul>
    <% site.pages.each(function(page) { %>
        <% if (page.order) { %>
            <li class="inline-block">
                <a href="<%= url_for(page.path) %>"><%= page.title %></a>
            </li>
        <% } %>
    <% }); %>
</ul>
