<div class="restricted-warning-block">
    <h1>警告 / Warning</h1>
	<div class="clearfix">
		<p>本頁面包含客觀上足以刺激或滿足性慾，而令一般人感覺不堪呈現於眾或不能忍受而排拒之猥褻資訊，有害兒童及少年身心發展。</p>
		<!--p>如您確定要觀看，請按下 <kbd>Page Down</kbd> 鍵或將畫面往上拉，以略過此適當之安全隔絕措施。</p-->
        <a class="right" target="_blank" href="<%= url_for("/posts/2017/04/restricted-warning/") %>">這在寫甚麼？</a>
	</div>


	<div>
		<p>This page contains obscene material that is so sexually stimulating or gratifying from an objective standpoint that an average person will either find it not publicly presentable or find it so intolerable as to be repulsive, and harm the mental development of children and youth.</p>
		<!--p>If you are sure to visit, please press <kbd>Page Down</kbd> or scroll up to skip this adequate protective and isolating measure.</p-->
	</div>

	<button class="restricted-agree-button">進入瀏覽 / Show me</button>
    <br>
    <label><input type="checkbox" class="restricted-remember">不要再問 / Don't ask again</label>
    <div class="none">
        <!-- 當 CSS 沒有運作時，這裡即會顯示 -->
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <p>警告：往下即將顯示頁面內容。</p>
        <p>Warning: There goes the content below.</p>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
    </div>
</div>
<div class="restricted-auto-show-setting" style="display: none; text-align: right; color: #888; clear: both;">
    您已設定為自動顯示猥褻內容。<span class="restricted-auto-hide-button" style="text-decoration: underline; cursor: pointer;">取消</span>
</div>
