
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
  </header>
  <div class="content" itemprop="articleBody">
    <h1>找不到網頁</h1>
    <%- page.content %>
  </div>
  <footer>
    <%- partial('_partial/search') %>
  </footer>
</article>
