.tag-count,
.tag-list-count,
.archive-count,
.archive-list-count,
.category-count,
.category-list-count
	font-size: smaller
	margin-left: .2em

.tag-count:before,
.tag-list-count:before,
.archive-count:before,
.archive-list-count:before,
.category-count:before,
.category-list-count:before
	content: "("

.tag-count:after,
.tag-list-count:after,
.archive-count:after,
.archive-list-count:after,
.category-count:after,
.category-list-count:after
	content: ")"
