article.media
    border-top: 1px solid #888
    margin-bottom: 2rem
    .publish_date
        float: right
    .link_list
        list-style-type: none
        li
            display: inline-block
            width: 4rem
            white-space: nowrap
            +li
                border-left: 1px dotted #666
                padding-left: .5rem
        img
            height: 1rem
            vertical-align: middle

.slideshow
    position: relative
    width: 320px
    height: 180px
    clear: both
    img
        position: absolute
        width: 100%
        height: auto

.thumbnail-container
    display: block
    width: 320px
    height: 180px
    position: relative
    > *, .gallery > img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: auto
    .poster
        z-index: 1
    .gallery, video
        z-index: 2